/* ListDeleteMoldsStyle.css */
.list-molds-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.list-molds-content {
  margin-top: 20px;
}
.sortButton {
  background-color: rgba(255, 0, 0, 0);
  color: black;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.sortButton:hover {
  background-color: #f2f2f2;
}


.edit-button,
.delete-button {
  padding: 5px 10px;
  margin: 2px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}


