/* ListDeleteMoldPieceStyle.css */

.moldPieceContainer {
  margin: 20px;
}

.table {
  min-width:1000px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.table th,
.table td {
  border: 1px solid #ccc;
  text-align: center;
}

.delete-button {
  background-color: #ff5252;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 50%;
  cursor: pointer;
}

.delete-button:hover,
.button:hover {
  opacity: 0.8;
}

.actionsCell{
  width: 34%;
}
