/* ListDeleteEmployeesStyle.css */
.listar-funcionarios-container {
  width: 80%;
  margin-left: 50px;
}

.funcionarios-table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.funcionarios-table th,
.funcionarios-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}





